<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='static/main.css' type='text/css'>
</head>

<body>
  <div class='page'>
    <div class='form'>
      <form class='register-form' method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit(class_ = 'submit-button') }}
        <p class='message'>Already registered? <a href='{{ url_for('main.login')}}'>Sign In</a></p>
      </form>
    </div>
  </div>
</body>

</html>
